<%= form_with(model: receiving, local: true) do |form| %>
  <% if receiving.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receiving.errors.count, "error") %> prohibited this receiving from being saved:</h2>

      <ul>
        <% receiving.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Дата прийому' %>
    <%= form.text_field :date,
                        :size => '30',
                        #:pattern => '\d{1,9}$',
                        :placeholder => "Введіть дату",
                        required: true %>
  </div>

  <div class="field">
    <%= form.label 'Час прийому' %>
    <%= form.text_field :time,
                        :size => '30',
                        #:pattern => '\d{1,9}$',
                        :placeholder => "Введіть час",
                        required: true %>
  </div>

  <div class="field">
    <%= form.label 'Пацієнт' %>
    <%= form.collection_select :patient_id,
                               Patient.order(:name),:id,:name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label 'Лікар' %>
    <%= form.collection_select :doctor_id,
                               Doctor.order(:name),:id,:name, include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit('Створити', {:class => 'btn btn-success'}) %>
  </div>
<% end %>
