<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="field">
  <%= form.label 'ПІП' %>
  <%= form.text_field :name,
                      :size => '30',
                      #:pattern => '\d{1,9}$',
                      :placeholder => "Введіть ПІП",
                      required: true %>
</div>

<div class="field">
  <%= form.label 'Номер телефону' %>
  <%= form.text_field :phone,
                      :size => '30',
                      #:pattern => '\d{1,9}$',
                      :placeholder => "Введіть номер телефону",
                      required: true %>
</div>

<div class="field">
  <%= form.label 'Дата народження' %>
  <%= form.text_field :birth_date,
                      :size => '30',
                      #:pattern => '.{1,10}',
                      :placeholder => "Введіть дату народження",
                      required: true %>
</div>

<div class="field">
  <%= form.label 'Діагноз' %>
  <%= form.text_area :diagnosis,
                      :size => '30',
                      #:pattern => '.{1,10}',
                      :placeholder => "Введіть діагноз",
                      required: false %>
</div>

<div class="actions">
  <%= form.submit('Створити', {:class => 'btn btn-success'}) %>
</div>
<% end %>