<br>
<%= link_to 'Лікарі', controller: 'doctors' %>
<%= link_to 'Пацієнти', controller: 'patients' %>
<%= link_to 'Запис на прийом', controller: 'receivings' %>
<%= link_to 'Видача довідки', controller: 'certificates' %>
<br>

<p id="notice"><%= notice %></p>

<h1>Пацієнти</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.birth_date %></td>
        <td><%=  patient.diagnosis %></td>
        <td><%= link_to 'Переглянути', patient %></td>
        <td><%= link_to 'Редагувати', edit_patient_path(patient) %></td>
        <td><%= link_to 'Видалити', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новий пацієнт', new_patient_path %>
