<%= form_with(model: certificate, local: true) do |form| %>
  <% if certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
        <% certificate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Пацієнт' %>
    <%= form.collection_select :patient_id,
                               Patient.order(:name),:id,:name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label 'Лікар' %>
    <%= form.collection_select :doctor_id,
                               Doctor.order(:name),:id,:name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label 'Дата надходження' %>
    <%= form.text_field :income_date,
                        :size => '30',
                        #:pattern => '\d{1,9}$',
                        :placeholder => "Введіть дату",
                        required: true %>
  </div>

  <div class="field">
    <%= form.label 'Дата виписки' %>
    <%= form.text_field :discharge_date,
                        :size => '30',
                        #:pattern => '\d{1,9}$',
                        :placeholder => "Введіть дату",
                        required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
