<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CyberHospital" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CyberHospital</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
<!--            <li><%#= link_to 'Лікарі', doctors_path %></li>-->
<!--            <li><%#= link_to 'Пацієнти', patients_path %></li>-->
<!--            <li><%#= link_to 'Запис на прийом', receivings_path %></li>-->
<!--            <li><%#= link_to 'Створити довідку', certificates_path %></li>-->
            <%# if current_user %>
<!--            <li><%#= link_to 'Вихід', destroy_user_session_path, method: :delete %></li>-->
            <%# else %>
            <%# end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <% if current_user && current_user.admin %>
            <h3>Меню лікаря</h3>
            <ul class="nav nav-list">
              <li class="nav-header">Розділи</li>
              <li><%= link_to 'Лікарі', doctors_path %></li>
              <li><%= link_to 'Створити довідку', certificates_path %></li>
              <li><%= link_to 'Записи на прийом', receivings_path %></li>
              <li><%= link_to 'Пацієнти', patients_path %></li>
              <% if current_user %>
                <li><%= link_to 'Вихід', destroy_user_session_path, method: :delete %></li>
              <% else %>
              <% end %>
            <% else %>
              <% if current_user %>
              <h3>Меню пацієнта</h3>
              <ul class="nav nav-list">
                <li class="nav-header">Розділи</li>
                <li><%= link_to 'Запис на прийом', receivings_path %></li>
                  <li><%= link_to 'Вихід', destroy_user_session_path, method: :delete %></li>
              </ul>
                <% else %>
                <% end %>
            <% end %>

            </ul>

          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->


      <footer>
        <p>&copy;CyberHospital 2020</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <title>CyberHospital</title>-->
  <%#= csrf_meta_tags %>
  <%#= csp_meta_tag %>

  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--</head>-->
<!--<body>-->
<%#= render 'layouts/alerts'%>
<%#= link_to 'Лікарі', doctors_path %>
<%#= link_to 'Пацієнти', patients_path %>
<%#= link_to 'Запис на прийом', receivings_path %>
<%#= link_to 'Створити довідку', certificates_path %>
<%#= yield %>
<!--</body>-->
<!--</html>-->


